# dependencies
node_modules

# turborepo
.turbo
.claude

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*.local

# build
dist
build
.next
out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

#pregled_sustava
.pregled
.todo
.arhitektura
.exec
.moj_posao
.design_idea
.plan_izvedbe
.filter_design
.CRUD_Design
.CRUD_Implementation_Log